#!/usr/bin/env ruby

compile '/index.*' do
  filter :erb
  filter :bibmarkdown, bibfile: items['/references.bib'],
                       style: 'lncs-custom'
  filter :kramdown
  filter :markupfilter
  filter :rubypants
  layout '/default.*'
end

ignore '/*.md'
ignore '/*.bib'

route '/**/*.{html,md}*' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile '/**/{screen,print}.scss' do
  filter :sass, syntax: :scss, style: :compressed
  write item.identifier.without_ext + '.css'
end
ignore '/**/*.scss'

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
