#!/usr/bin/env ruby

compile '/index.*' do
  filter :erb
  filter :kramdown
  layout '/default.*'
end

ignore '/*.md'

route '/**/*.{html,md}*' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
