body {
  margin: 0 auto;
  padding: 0;

  font-family: "Times New Roman", serif;
  max-width: 800px;
}

dl.references dt {
  float: left;
  clear: left;
}

.todo {
  color: red;
}
.todo:before {
  content: "TODO: ";
}
