@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i');
@import 'reset.scss';

body {
  margin: 0 auto;
  padding: 1em;

  font: 13pt/1.4 "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 800px;
}

#keywords {
  font-weight: normal;
  font-size: small;
  .title {
    font-style: italic;
  }
}

article {
  counter-reset: section;

  section > p, ul, ol, dl {
    hyphens: auto;
  }

  // Sections
  h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 1.5em 0 .5em;
  }

  // Subsections
  h3 {
    font-size: 1.2em;
    font-weight: bold;
  }

  // Titled paragraphs
  h4 {
    font-weight: bold;
    margin: 0 1em 0 0;
    float: left;
    clear: left;
  }

  // Paragraphs
  p {
    margin-bottom: 1em;
  }

  // Lists
  ul, ol {
    margin: 1em 0;

    li {
      margin-left: 2em;
      &:before {
        position: absolute;
        display: block;
      }
    }
  }
  ul {
    li {
      &:before {
        content: "▪";
        font-size: 1.2em;
        margin: -.1em 0 0 -.9em;
      }
    }
  }
  ol {
    counter-reset: ol;
    li {
      &:before {
        content: counter(ol) ".";
        counter-increment: ol;
        margin: 0 0 0 -2em;
        text-align: right;
        min-width: 1.5em;
      }
    }
  }

  // Figures
  figure {
    background: darken(white, 4%);
    padding: 1em 2em;
    margin: 1em 0;

    figcaption {
      margin: 1em 0 .5em;

      .label {
        float: left;
        font-weight: bold;
        margin-right: .5em;
      }
      p {
        margin: 0;
      }
    }
  }

  // References
  a.reference {
    font-size: .95em;
    &:not(:hover) {
      color: #999;
      background: none;
    }
  }

  // Title, abstract, authors, actions
  header {
    h1 {
      font-size: 2em;
      font-weight: bold;
      margin: 1em 0 .5em;
    }

    ul {
      margin: 1em 0;
      padding: 0;
      li {
        margin: 0;
        &:before {
          content: '';
        }
      }
    }

    #authors {
      li {
        display: inline;
        margin-right: 1.5em;
        white-space: nowrap;
      }

      a {
        &:not(:hover) {
          background: none;
        }
        sup {
          margin: 0 -.1em 0 .1em;
        }
      }
    }

    #affiliations {
      font-size: .9em;

      sup {
        margin-right: .15em;
      }
    }

    #abstract {
      font-weight: bold;
      hyphens: auto;

      h2 {
        display: none;
      }
    }

    .actions, .context {
      font-size: .9em;

      h2 {
        margin: 0;
        display: inline;
        font-size: 1em;
        font-weight: normal;

        &:after {
          content: ":";
        }
      }

      ul {
        display: inline;
      }

      li {
        display: inline;
        white-space: nowrap;
        font-style: italic;

        &:not(:last-child) {
          &:after {
            content: ", ";
          }
        }
      }
    }
  }

  // Main sections
  > section, > section section {
    // Section counter
    h2 {
      counter-reset: subsection;

      &::before {
        counter-increment: section;
        content: counter(section) ". ";
      }
    }

    // Subsection counter
    h3 {
      &::before {
        counter-increment: subsection;
        content: counter(section) "." counter(subsection) ". ";
      }
    }
  }

  // Appendices
  footer {
    #references {
      h2 {
        &::before {
          content: "";
        }
      }

      dl {
        font-size: .9em;

        dt {
          float: left;
          clear: left;
        }

        dd {
          margin: 0 0 .5em 2em;
        }
      }
    }

    #footnotes {
      counter-reset: footnote;

      ol {
        font-size: .9em;
        list-style: none;

        li {
          &:before {
            counter-increment: footnote;
            content: counter(footnote);
            font-size: smaller;
            margin: -.3em .1em 0 0;
            float: left;
          }
        }
      }
    }

    #document-interactions {
      p.instructions {
        margin-top: 1em;
        font-style: italic;
      }
    }
  }
}

a {
  $link-color: #45678e;
  $hover-color: #0b99bc;

  color: $link-color;
  text-decoration: none;
  background-image: linear-gradient($link-color 50%, $link-color 50%);
  background-repeat: repeat-x;
  background-position: 0 1.2em;
  background-size: 50px 1px;

  &:hover {
    color: $hover-color;
    background-image: linear-gradient($hover-color 50%, $hover-color 50%);
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

sup, sub {
  font-size: smaller;
  line-height: 0;
  vertical-align: super;
}
sub {
  vertical-align: sub;
}

q {
  font-style: italic;

  &::before {
    content: "“";
  }
  &::after {
    content: "”";
  }
}

pre {
  line-height: 1.2;
  overflow-x: scroll;
  overflow-y: hidden;

  code {
    font-size: .9em;
    letter-spacing: -.1pt;
  }
}

@import "shared.scss";
