@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i');

body {
  margin: 0 auto;
  padding: 0;

  font: 13pt/1.4 "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 800px;
}

header {
  h1 {
    font-size: 2em;
    margin: 1em 0 .5em;
  }

  ul {
    list-style: none;
    margin: 1em 0;
    padding: 0;
  }

  #authors {
    li {
      display: inline;
      margin-right: 1.5em;
    }

    a {
      &:not(:hover) {
        text-decoration: none;
      }
      sup {
        margin: 0 -.1em 0 .1em;
      }
    }
  }

  #affiliations {
    list-style: none;
    margin: 1em 0;
    padding: 0;

    font-size: .9em;

    sup {
      margin-right: .15em;
    }
  }

  #abstract {
    font-weight: bold;
    hyphens: auto;

    h2 {
      display: none;
    }
  }
}

main {
  counter-reset: section figure;

  section > p, ul, ol, dl {
    hyphens: auto;
  }

  // Sections
  h2 {
    counter-reset: subsection;

    &::before {
      counter-increment: section;
      content: counter(section) ". ";
    }
  }

  // Subsections
  h3 {
    &::before {
      counter-increment: subsection;
      content: counter(section) "." counter(subsection) ". ";
    }
  }

  // Paragraphs
  h4 {
    margin: 0 1em 0 0;
    float: left;
    clear: left;
  }

  // Figures
  figure {
    figcaption {
      &::before {
        float: left;
        counter-increment: figure;
        content: "Fig. " counter(figure) ":";
        font-weight: bold;
        margin-right: .5em;
      }
    }
  }
}

q {
  font-style: italic;
}

dl.references {
  dt {
    float: left;
    clear: left;
  }
}

@import "shared.scss";
